@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    background-color: #000;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    max-width: 400px;
    flex-wrap: nowrap;
}
.card {
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    padding: 10px; 
    margin: 30px;
    align-content: center;
}
.boxValue {
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.text-current {
    font-size: 13px;
    font-weight: 500;
    color: #989898;
}
.grey{
    background-color: #222;
    color: #989898;
}

.green {
    background-color: #2e5c3a;
    color: #86a28e;
}

